.popup {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  box-sizing: border-box;
  display: none;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  justify-content: center;
  left: 0;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  right: 0;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  top: 0;
}