.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 16px 18px;
}

@media screen and (max-width: 650px) {
  .profile__info {
    gap: 0 10px;
    justify-content: center;
    margin: 0 auto;
    min-width: 282px;
    padding-top: 27px;
    text-align: center;
  }
}