.page {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  font-weight: normal;
  margin: 0 auto;
  max-width: 880px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}