.popup__container {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px 37px;
  position: relative;
}

.popup__container::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url(../../../images/close.svg) no-repeat;
  background-size: contain;
  position: absolute;
  left: 100%;
  bottom: 100%;
  margin: 0 0 8px 8px;
}