.form__textfield {
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  height: 27px;
  margin: 0;
  padding: 0 0 9px 0;
  width: 100%;
}

.form__textfield:focus {
  outline: none;
}

.popup__textfield {
  margin-bottom: 30px;
}

.popup__textfield:last-of-type {
  margin-bottom: 46px;
}