.header {
  border-bottom: solid 1px #545454;
  box-sizing: border-box;
  display: flex;
  padding-top: 45px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .header {
    padding-left: 27px;
    padding-top: 28px;
  }
}

