.popup__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.208;
  margin: 0;
  padding-bottom: 48px;
}

@media screen and (max-width: 500px) {
  .popup__heading {
    font-size: 18px;
    padding-bottom: 75px;
  }
}