.form__text-field {
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  height: 27px;
  margin: 0 0 30px 0;
  padding: 0 0 9px 0;
  width: 100%;
}

.form__text-field:focus {
  outline: none;
}

.form__text-field:last-of-type {
  margin-bottom: 46px;
}