.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.143;
  margin: 0;
  max-width: 294px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.21;
    padding-bottom: 6px;
  }
}
