.popup__btn-close {
  background: url(../../../images/close.svg) no-repeat;
  background-size: contain;
  bottom: 100%;
  content: "";
  display: block;
  height: 32px;
  left: 100%;
  margin: 0 0 8px 8px;
  position: absolute;
  width: 32px;
  transition: opacity 0.3s linear;
}

.popup__btn-close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__btn-close {
    height: 20px;
    margin-bottom: 16px;
    margin-left: -20px;
    width: 20px;
  }
}
