.btn_style_edit {
  background: #000 url(../../../images/pen.svg) center center no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 568px) {
  .btn_style_edit {
    height: 18px;
    width: 18px;
  }
}