.btn_style_add {
  background: #000 url(../../../images/plus.svg) center center no-repeat;
  border: solid 2px #fff;
  height: 50px;
  width: 150px;
}

.profile__btn {
}

.profile__btn_style_add {
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .profile__btn_style_add {
    margin: 36px 19px 0 19px;
    width: 100%;
  }
}
